<!DOCTYPE html>
{%extends 'star/Base.html'%}
{%block child_block%}
<div class=""container" align="center">
<h1>Information Of Students</h1>
<table border="5" cellpadding="10" cellspacing="5" bgcolor="cyan">
    <thead>
    <tr>
        <th>No</th>
        <th>Name</th>
        <th>Marks</th>
        <th>Address</th>
        <th>Actions</th>

    </tr>
    </thead>
    {% for student in students %}
    <tr>
        <td>{{student.No}}</td>
        <td>{{student.Name}}</td>
        <td>{{student.Marks}}</td>
        <td>{{student.Address}}</td>
        <td><a href="/delete/{{student.id}}" class="btn btn-success btn-lg"/> Delete</a> <a href="/update/{{student.id}}" class="btn btn-primary btn-lg"/> Update</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}